@import 'variables';

@padding-top: 15;
@col-left-padding-right: 20;

@slider-width: 155;

body {
  background-color: var(--background);
}

main > .container {
  display: flex;
  margin-top: @header_height;
  padding: 0 !important;

  z-index: 300;
}

.sidebar-nav-panel {
  position: fixed;

  display: flex;
  flex-shrink: 0;
  flex-basis: 30px;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  margin-top: -@header_height;

  //background-color: transparent !important;

  //background-color: @primary;

  z-index: 250;

  .sidebar-tabs {
    width: @header_height;
    padding-top: 10px;
    padding-left: 0;

    list-style: none;

    li {
      width: 63px;
      height: 50px;
      margin: 0;

      background-repeat: no-repeat;

      &:hover {
        cursor: pointer;
      }
    }

    .data-tab {
      background-image: url(../img/icons/data_white.png);
      background-position: center center;
      background-size: 18px;
    }

    .configurations-tab {
      background-image: url(../img/icons/white.png);
      background-position: center center;
      background-size: 18px;
    }
  }
}

.chart-form-container.sidebar {
  position: relative;
  top: -@header_height;
  left: @header_height;

  //display: none;
  //width: 450px;
  min-height: calc(100% + @header_height);
  flex-basis: 385px;
  //flex-basis: 405px;
  flex-shrink: 0;
  margin: 0;
  padding: 0 0 25px 15px;

  z-index: 200;
  background-color: var(--foreground);
  //background-color: #f5f5f5db;

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    display: block;
    height: 100%;
    width: 1000px;

    background-color: inherit;
    z-index: -1;
  }

  &.hidden {
    width: 0;
  }
}

.chart-form-container .sidebar-header {
  position: relative;

  display: flex;
  height: @header_height;
  align-items: center;

  .configuration-icon {
    display: none;
    width: 35px;
    height: 35px;
    margin-right: 14px;

    background-image: url(../img/icons/white.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center center;
  }

  .configuration-icon:hover {
    animation: spin 2s infinite linear;
  }

  .page-title {
    margin: 0;
    //padding-left: 30px;
    //padding: 12px;
    //margin-bottom: 35px;
    //margin-left: -12px;

    font-size: 17px;

    //background-color: darken(@primary, 8%);
  }

  &::after {
    content: "";

    position: absolute;
    right: 0;
    bottom: 0;

    display: none;
    height: 1px;
    width: 1000px;

    background-color: darken(@primary, 10%);
  }
}

.container > .col-right {

  margin-left: 500px;
  align-items: center;
  align-content: center;
  flex-grow: 0;
  justify-content: center;
  justify-items: center;
  padding: @header_height 0 15px calc(@header_height + 25px);
  overflow-x: hidden;

  width: 100%;

  .chart-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 50px;
    width: 400px;
  }

  .canvas-wrapper {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .chart-preview-wrapper {
    position: relative;

    display: flex;
    width: 400px;

    .chart-area-container {
      position: absolute;
      top: 0;

      height: 100%;
    }

    .hidden-area-container {
      left: 0;

      flex-shrink: 0;
      flex-grow: 1;
      flex-basis: 100px;
      width: auto;

      //width: 70%;

      background-color: rgba(0, 0, 0, 0.2);
    }

    .show-area-container{
      right: 0;

      width: 30%;

      //border-right: 5px solid rgba(0, 0, 0, 0.1);
      //border-left: 5px solid rgba(0, 0, 0, 0.1);
      border: none;
      border-top: 2px solid rgba(0, 0, 0, 0.1);
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }

    .area-border{
      position: absolute;

      height: 100%;
      width: 5px;

      background-color: rgba(0, 0, 0, 0.6);

      cursor: pointer;
    }

    .area-left-border{
      left: -5px;
    }

    .area-right-border{
      right: -5px;
    }
  }
}

/* ==================
        FORM
================== */

.two-col-section {
  margin-top: 10px !important;
  margin-bottom: 25px !important;
  padding-bottom: 10px;
  //justify-content: space-between;
  .col-left {
    margin-right: 32px;
  }

  .fieldset-title {
    margin-bottom: 15px !important;
  }
}

.form-section-title {
  margin-bottom: 18px;

  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
}

.collapsible > .collapsible-header .form-section-title {
  margin-bottom: 0;
}

.form-section {
  position: relative;

  padding: 0;

  border: none;
}

.form-section.collapsible {
  .form-section-content,
  .form-section-title {
    padding-right: @col-left-padding-right * 1px;
  }

  .form-section-content {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .btn-collapse {
    right: (@col-left-padding-right +  10) * 1px;
  }
}

.form-section.collapsed {
  padding-bottom: 0;
}

.form-section,
.plane-chart-fields {
  //border-bottom: 1px solid @grey;
}

.plane-chart-fields::after,
.form-section::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 80%;
  height: 1px;

  /*
  background-image: linear-gradient(to right, white 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 6px 4px;
  background-repeat: repeat-x;
  */

  //border-top: 1px dotted @grey;
}

.form-section:last-of-type {
  border-bottom: 0;
}

.style-fields {
  margin-bottom: 20px;
}

.options-list {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;

  li {
    margin-right: 20px;
  }
}

.chart-form {
  z-index: 5;

  fieldset {
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;

    border: none;
    //border-bottom: 1px solid @grey;
  }

  .inline {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    align-items: center;
    margin: 20px 0 15px;
    padding-right: 0;

    .fieldset-title {
      width: auto;
      flex-grow: 0;
      margin-right: 25px;
      margin-bottom: 0;
    }

    .form-field-slider {
      width: @slider-width * 1px;
      flex-shrink: -1;
    }
  }

  .chart-type-fieldset {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    flex-grow: 0;
    flex-wrap: nowrap;
    margin: 20px 0 15px;
    padding-right: 0;

    .fieldset-title {
      width: auto;
      flex-grow: 0;
      margin-right: 25px;
    }

    .options-list {
      //width: 50%;
      flex-grow: 0;
      flex-shrink: 1;

      li {
        flex-grow: 0;
      }

      li:last-of-type {
        margin-right: 0;
      }
    }
  }

  .fields-title {
    font-size: 16px;
    margin-bottom: 15px;
  }

  label,
  .fieldset-title {
    position: relative;

    margin-right: 10px;

    font-size: 12px;
    text-transform: uppercase;
  }

  .input-option-label {
    padding-left: 22px;
  }

  input {
    min-width: auto;
  }

  .checkbox-field-wrapper {
    margin-top: 15px;
  }

  .smaller-input {
    width: 100px;
  }

  .medium-input {
    max-width: 155px;
    min-width: 0;
    width: auto;
  }

  p {
    margin-bottom: 7px;
  }

  .horizontal-controls-wrapper {
    display: flex;
    flex-grow: 1;
  }

  select {
    box-sizing: border-box;
    padding: 5px 7px 5px;

    font-size: 15px;

    //background-color: #eee;
    background-color: lighten(@primary, 42%);
    border: 1px solid lighten(@primary, 34%);
    border-radius: 4px;

    transition: 0.14s linear all;

    &:hover {
      background-color: lighten(@primary, 44%);
      cursor: pointer;
    }

    &:active {
      box-shadow: none;
      border: 1px solid var(--accent);
    }

    &:focus {
      background-color: var(--accent);
      box-shadow: none;
      outline: none;
      border: 1px solid var(--accent);
    }

  }

  //----

  input[type=text],
  input[type=number] {
    transition: 0.12s linear all;

    &:hover {
      background-color: lighten(@primary, 45%);
      border-color: lighten(@primary, 1%);
      //border-width: 2px;
    }

    &:focus {
      border-color: lighten(@primary, 1%);
      background-color: white;
    }
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--accent);
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--accent);
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--accent);
  }

  //-----

  input[type="radio"] + .radio-indicator,
  input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 2px;
    left: 0;

    width: 16px;
    height: 16px;

    border: 1px solid @grey;
  }

  .checkbox-indicator::after,
  .checkbox-indicator::before,
  .radio-indicator::after,
  .radio-indicator::before {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: none;
    margin: auto;

    background-color: var(--accent);
  }

  //---- checkbox input

  input[type="checkbox"] {
    & + .checkbox-indicator {
      border-radius: 2px;
    }

    &:checked + .checkbox-indicator {
      border: 1px solid var(--accent);
      outline: none;

      &::after, &::before {
        display: block;
      }
    }
  }

  .checkbox-indicator::after,
  .checkbox-indicator::before {
    width: 8px;
    height: 2px;
  }

  .checkbox-indicator::after {
    transform: rotate(90deg);
  }

  //--- radio input

  input[type="radio"] {
    margin-right: 5px;

    & + .radio-indicator {
      border-radius: 50%;
    }

    &:checked + .radio-indicator {
      border: 1px solid var(--accent);
    }

    &:checked + .radio-indicator::after {
      display: block;
    }
  }

  .radio-indicator::after {
    width: 6px;
    height: 6px;

    border-radius: 50%;
  }

  //-----

  .minicolors-theme-bootstrap {

    .minicolors-input.medium-input {
      max-width: 155px;
      padding-left: 37px;
    }

    .minicolors-swatch {
      top: 0;
      bottom: 0;

      margin-top: auto;
      margin-bottom: auto;
    }
  }

  //-----

  .btn-save {
    margin-right: 7px;
  }
}

.colorpicker-input-container {
  //display: flex;
  //align-items: center;

  label {
    margin-bottom: 0;
  }
}

//--------

//.vertical-axis-labels-container::after,
//.vertical-axis-labels-container::before{
//  content: "";
//
//  position: absolute;
//  top: 0;
//  right: 0;
//
//  display: block;
//  width: 1px;
//  height: 10px;
//
//  background-color: black;
//}
//
//.vertical-axis-labels-container::after{
//  transform: rotate(45deg);
//}
//
//.vertical-axis-labels-container::before{
//  transform: rotate(-45deg);
//  right: -5px;
//}

/*=======================
    Chart data input
=======================*/

.chart-data-input {
  display: flex;
  padding-left: 20px;
}

//--Manual data input section with point values input table---

.manual-data-input {
  position: relative;

  margin-right: 60px;

  .chart-data-input-form .show-more-rows-link {
    font-size: 14px;
    color: @primary;
    text-decoration: underline;

    cursor: pointer;
  }
}

.manual-data-input::after {
  content: "or";

  position: absolute;
  top: 0;
  bottom: 0;
  right: -37px;

  display: inline-block;
  margin: auto 0;

  color: darken(@grey, 10%);
}

.chart-data-form {
  padding: 20px 15px 25px 25px;
}

.data-input-table {
  margin-bottom: 10px;

  thead td {
    padding-left: 5px;

    border-top: 0;
  }

  td {
    border-top: 1px solid @grey;

    input {
      border: none;
      padding: 2px 3px;
    }
  }
}

//--Data file upload section--

.chart-data-upload-form {
  display: flex;

  .file-upload-input {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn-upload {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}