.theme-classic {
  --accent: #4158D0;
  --background: white;
  --foreground: #e6eaffe0;
}
.theme-bright {
  --accent: white;
  --background: white;
  --foreground: #4158D0;
}
.theme-dark {
  --accent: #4158D0;
  --background: #0f0830;
  --foreground: #1d105b;
}
body {
  background-color: var(--background);
}
main > .container {
  display: flex;
}
.page-title {
  margin-bottom: 35px;
  font-size: 27px;
}
.chart-form-container.col-left {
  position: relative;
  width: 450px;
  min-height: 100%;
  flex-basis: 405px;
  flex-shrink: 0;
  margin: 0;
  padding: 62px 0 25px 0;
  background-color: var(--foreground);
}
.chart-form-container.col-left::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 1000px;
  background-color: inherit;
  z-index: -1;
}
.col-right {
  padding: 62px 0 15px 40px;
  overflow-x: hidden;
}
.col-right .chart-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 50px;
}
.col-right .canvas-wrapper {
  flex-grow: 0;
  flex-shrink: 0;
}
/* ==================
        FORM
================== */
.form-section-title {
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
}
.collapsible > .collapsible-header .form-section-title {
  margin-bottom: 0;
}
.form-section {
  position: relative;
  padding: 0;
  border: none;
}
.form-section.collapsible .form-section-content,
.form-section.collapsible .form-section-title {
  padding-right: 20px;
}
.form-section.collapsible .form-section-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.form-section.collapsible .btn-collapse {
  right: 30px;
}
.form-section.collapsed {
  padding-bottom: 0;
}
.plane-chart-fields::after,
.form-section::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 80%;
  height: 1px;
  /*
  background-image: linear-gradient(to right, white 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 6px 4px;
  background-repeat: repeat-x;
  */
}
.form-section:last-of-type {
  border-bottom: 0;
}
.style-fields {
  margin-bottom: 20px;
}
.options-list {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.options-list li {
  margin-right: 20px;
}
.chart-form {
  z-index: 5;
}
.chart-form fieldset {
  margin-bottom: 10px;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  border: none;
}
.chart-form section.inline {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  align-items: center;
  margin: 20px 0 15px;
  padding-right: 0;
}
.chart-form section.inline .fieldset-title {
  width: auto;
  flex-grow: 0;
  margin-right: 25px;
  margin-bottom: 0;
}
.chart-form section.inline .form-field-slider {
  width: 155px;
  flex-shrink: -1;
}
.chart-form .chart-type-fieldset {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-grow: 0;
  flex-wrap: nowrap;
  margin: 20px 0 15px;
  padding-right: 0;
}
.chart-form .chart-type-fieldset .fieldset-title {
  width: auto;
  flex-grow: 0;
  margin-right: 25px;
}
.chart-form .chart-type-fieldset .options-list {
  flex-grow: 0;
  flex-shrink: 1;
}
.chart-form .chart-type-fieldset .options-list li {
  flex-grow: 0;
}
.chart-form .chart-type-fieldset .options-list li:last-of-type {
  margin-right: 0;
}
.chart-form label,
.chart-form .fieldset-title {
  position: relative;
  margin-right: 10px;
  font-size: 15px;
}
.chart-form .input-option-label {
  padding-left: 22px;
}
.chart-form input {
  min-width: auto;
}
.chart-form .checkbox-field-wrapper {
  margin-top: 15px;
}
.chart-form .smaller-input {
  width: 100px;
}
.chart-form .medium-input {
  max-width: 155px;
  min-width: 0;
  width: auto;
}
.chart-form input[type=radio] {
  margin-right: 5px;
}
.chart-form p {
  margin-bottom: 7px;
}
.chart-form .horizontal-controls-wrapper {
  display: flex;
  flex-grow: 1;
}
.chart-form select {
  box-sizing: border-box;
  padding: 6px 7px 6px;
  font-size: 16px;
  background-color: #edeffa;
  border: 1px solid #ccd2f2;
  border-radius: 4px;
  transition: 0.14s linear all;
}
.chart-form select:hover {
  background-color: #f5f6fd;
  cursor: pointer;
}
.chart-form select:active {
  box-shadow: none;
  border: 1px solid var(--accent);
}
.chart-form select:focus {
  background-color: #4158D0;
  box-shadow: none;
  outline: none;
  border: 1px solid var(--accent);
}
.chart-form input[type=text],
.chart-form input[type=number] {
  transition: 0.12s linear all;
}
.chart-form input[type=text]:hover,
.chart-form input[type=number]:hover {
  background-color: #f9fafe;
  border-color: #455cd1;
}
.chart-form input[type=text]:focus,
.chart-form input[type=number]:focus {
  border-color: #455cd1;
  background-color: white;
}
.chart-form input[type="radio"] + .radio-indicator,
.chart-form input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid lightgrey;
}
.chart-form input[type="checkbox"] + .checkbox-indicator {
  border-radius: 2px;
}
.chart-form input[type="checkbox"]:checked + .checkbox-indicator {
  border: 1px solid var(--accent);
  outline: none;
}
.chart-form input[type="checkbox"]:checked + .checkbox-indicator::after,
.chart-form input[type="checkbox"]:checked + .checkbox-indicator::before {
  display: block;
}
.chart-form .checkbox-indicator::after,
.chart-form .checkbox-indicator::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  width: 8px;
  height: 2px;
  margin: auto;
  background-color: var(--accent);
}
.chart-form .checkbox-indicator::after {
  transform: rotate(90deg);
}
.chart-form input[type="radio"] + .radio-indicator {
  border-radius: 50%;
}
.chart-form input[type="radio"]:checked + .radio-indicator {
  border: 1px solid var(--accent);
}
.chart-form input[type="radio"]:checked + .radio-indicator::after {
  display: block;
}
.chart-form .radio-indicator::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  width: 6px;
  height: 6px;
  margin: auto;
  background-color: var(--accent);
  border-radius: 50%;
}
.chart-form .minicolors-theme-bootstrap .minicolors-input.medium-input {
  max-width: 190px;
  padding-left: 37px;
}
.chart-form .minicolors-theme-bootstrap .minicolors-swatch {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.chart-form .btn-save {
  margin-right: 7px;
}
.colorpicker-input-container {
  display: flex;
  align-items: center;
}
.colorpicker-input-container label {
  margin-bottom: 0;
}
/*=======================
    Chart data input
=======================*/
.chart-data-input {
  display: flex;
  padding-left: 20px;
}
.manual-data-input {
  position: relative;
  margin-right: 60px;
}
.manual-data-input .chart-data-input-form .show-more-rows-link {
  font-size: 14px;
  color: #4158D0;
  text-decoration: underline;
  cursor: pointer;
}
.manual-data-input::after {
  content: "or";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -37px;
  display: inline-block;
  margin: auto 0;
  color: #bababa;
}
.chart-data-form {
  padding: 20px 15px 25px 25px;
}
.data-input-table {
  margin-bottom: 10px;
}
.data-input-table thead td {
  padding-left: 5px;
  border-top: 0;
}
.data-input-table td {
  border-top: 1px solid lightgrey;
}
.data-input-table td input {
  border: none;
  padding: 2px 3px;
}
.chart-data-upload-form {
  display: flex;
}
.chart-data-upload-form .file-upload-input {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.chart-data-upload-form .btn-upload {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
