.theme-classic {
  --accent: #4158D0;
  --background: white;
  --foreground: #e6eaffe0;
}
.theme-bright {
  --accent: white;
  --background: white;
  --foreground: #4158D0;
}
.theme-dark {
  --accent: #4158D0;
  --background: #0f0830;
  --foreground: #1d105b;
}
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  /*color: #8c8f94;*/
  color: black;
  letter-spacing: 0.01em;
  /*background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>I love SVG!</text></svg>");*/
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hidden,
.pre-hidden {
  display: none;
}
a {
  color: #4158D0;
  text-decoration: none;
  transition: 0.2s linear all;
}
a.btn {
  color: black;
}
.btn {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  height: auto;
  padding: 10px 20px;
  font-size: 15px;
  line-height: 1.4;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  z-index: 10;
}
.btn:not(.disabled):hover {
  color: #4158D0;
  border-color: #4158D0;
}
.btn.disabled:hover {
  cursor: default;
}
.wider-.btn {
  min-width: 100px;
}
.btn-add {
  padding-left: 35px;
}
.btn-add::before,
.btn-add::after {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  display: block;
  width: 3px;
  height: 11px;
  margin: auto 0;
  background-color: #4158D0;
  border-radius: 3px;
  z-index: 20;
}
.btn-add::after {
  transform: rotate(90deg);
}
.btn-save {
  padding-left: 35px;
}
.btn-save::before,
.btn-save::after {
  content: "";
  position: absolute;
  left: 17px;
  top: 0;
  bottom: 0;
  display: block;
  width: 3px;
  height: 11px;
  margin: auto 0;
  background-color: #4158D0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 20;
}
.btn-save::before {
  height: 6px;
  transform: rotate(-50deg);
}
.btn-save::after {
  left: 22px;
  transform: rotate(45deg);
}
.btn-save.disabled::before,
.btn-save.disabled::after {
  background-color: grey;
}
.btn-collapse {
  position: absolute;
  top: 13px;
  right: 10px;
  display: block;
  width: 19px;
  height: 19px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.btn-collapse::before,
.btn-collapse::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 11px;
  height: 3px;
  margin: auto;
  background-color: #4158D0;
  border-radius: 2px;
}
.collapsed > .btn-collapse::after {
  transform: rotate(90deg);
}
/* =======================
       CONTAINERS
======================== */
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container,
.inner-container,
.smaller-container {
  max-width: 100%;
  margin: 0 auto;
}
.container {
  width: 1200px;
  padding: 0 15px;
}
.smaller-container {
  width: 1000px;
  padding: 0 15px;
}
.smaller-container.left-col {
  margin-left: 0;
  margin-right: 0;
}
.inner-container {
  margin: 0 auto;
}
main {
  display: flex;
  flex-grow: 1;
}
.collapsible {
  position: relative;
  transition: height 10s linear;
}
.collapsed {
  overflow-y: hidden;
}
.collapsible-header {
  padding-top: 13px;
  padding-bottom: 13px;
}
/* =======================
         TITLES
======================= */
.section-title {
  position: relative;
  margin-bottom: 20px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
}
.section-subtitle {
  margin-bottom: 27px;
  font-size: 13px;
  line-height: 1.4;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
}
/* =========================
           FORMS
=========================== */
form input {
  padding: 6px 5px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #cbcbce;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
}
input.colorpicker {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  padding: 0;
}
.hint {
  color: #717171;
  letter-spacing: 0.02em;
}
.form-field-slider.ui-slider-horizontal {
  height: 1px;
  background-color: var(--accent);
  border: none;
}
.form-field-slider.ui-slider-horizontal .ui-slider-handle {
  top: 0;
  bottom: 0;
  width: 17px;
  height: 17px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: var(--accent);
  background-image: none;
  border-radius: 50%;
}
.form-field-slider.ui-slider-horizontal .ui-slider-handle::after {
  content: "";
  position: absolute;
  left: -4px;
  top: 0;
  bottom: 0;
  display: none;
  width: 23px;
  height: 23px;
  margin: auto !important;
  background-color: inherit;
  border-radius: 50%;
  opacity: 0.25;
}
.form-field-slider.ui-slider-horizontal .ui-slider-handle:focus {
  outline: none;
}
.form-field-slider.ui-slider-horizontal .ui-slider-handle:focus::after {
  display: block;
}
/* =====================
        HEADER
====================== */
.main-header {
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 200;
}
.main-header .container {
  position: relative;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 62px;
  align-items: center;
}
.header-logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 140px;
  height: 15px;
  margin: auto;
  line-height: 1;
}
.logo-pic {
  display: inline-block;
  width: 24px;
  height: 30px;
  margin-right: 10px;
}
.logo-pic .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 4px;
  height: 19px;
  background-color: #4158D0;
  border-radius: 3px;
}
.logo-pic .bar-2 {
  left: 6px;
  height: 10px;
}
.logo-pic .bar-3 {
  height: 15px;
  left: 12px;
}
.logo-pic .bar-4 {
  height: 18px;
  left: 18px;
}
.user-nav {
  display: flex;
  align-items: center;
}
.user-thumbnail {
  width: 36px;
  height: 36px;
  margin-right: 12px;
  border-radius: 50%;
}
.user-thumbnail img {
  width: inherit;
  height: inherit;
  box-sizing: content-box;
  border: 1px solid #e6eaffe0;
  border-radius: 50%;
  object-fit: cover;
}
.greeting {
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
  font-size: 13px;
  color: #3149c6;
}
.logo.header-logo {
  font-family: "Lato", Arial, sans-serif;
  font-size: 15px;
  color: black;
  text-transform: uppercase;
}
.site-nav,
.site-links,
.footer-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}
.footer-nav a {
  display: inline-block;
}
.site-links {
  align-items: center;
  margin-left: auto;
}
.site-nav a,
.site-links a,
.footer-nav a {
  padding: 12px 15px;
  font-size: 16px;
  color: #9f9fa1;
}
.site-links a:hover {
  color: black;
  text-decoration: none;
}
.site-links .help-link {
  color: #9f9fa1;
}
.site-links .login-link,
.site-links .logout-link {
  color: #4158D0;
}
.site-nav li,
.site-links li {
  margin-right: 10px;
}
.site-nav li:last-child,
.site-links li:last-child {
  margin-right: 0;
}
.site-links .theme-settings-link::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background-image: url(../img/icons/carousel-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 4px;
  transform: rotate(90deg);
}
/* =============================
            STATS
================================ */
label.label-add {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 50%;
}
.label-add::after,
.label-add::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  margin: auto;
  width: 20px;
  height: 2px;
  background-color: #9f9fa1;
}
.label-add::after {
  transform: rotate(90deg);
}
/*----------------------*/
@media (max-width: 767px) {
  .carousel-inner .active.left {
    left: -100%;
  }
  .carousel-inner .next {
    left: 100%;
  }
  .carousel-inner .prev {
    left: -100%;
  }
  .active > div {
    display: none;
  }
  .active > div:first-child {
    display: block;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .carousel-inner .active.left {
    left: -50%;
  }
  .carousel-inner .next {
    left: 50%;
  }
  .carousel-inner .prev {
    left: -50%;
  }
  .active > div {
    display: none;
  }
  .active > div:first-child {
    display: block;
  }
  .active > div:first-child + div {
    display: block;
  }
}
@media (min-width: 992px) {
  .carousel-inner .active.left {
    left: -25%;
  }
  .carousel-inner .next {
    left: 25%;
  }
  .carousel-inner .prev {
    left: -25%;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .smaller-container {
    width: 980px;
  }
  .container.columns-container {
    display: flex;
  }
  .columns-container .col {
    flex-grow: 1;
    /*width: unset !important;*/
    max-width: 100% !important;
  }
  .col-4 {
    width: 50% !important;
  }
}
