.theme-classic {
  --accent: #4158D0;
  --background: white;
  --foreground: #e6eaffe0;
}
.theme-bright {
  --accent: white;
  --background: white;
  --foreground: #4158D0;
}
.theme-dark {
  --accent: #4158D0;
  --background: #0f0830;
  --foreground: #1d105b;
}
.site-links {
  display: none;
}
.container {
  padding-top: 62px;
}
.form-container {
  width: 270px;
  margin: 0 auto;
  padding: 60px 0 30px;
}
.form-container .form-field {
  width: 100%;
}
.form-container .field-label {
  font-weight: 600;
}
.sign-up-link {
  margin-top: 15px;
}
.login-link,
.login-link:hover {
  color: white;
}
.sign-up {
  color: white;
  background-color: #4158D0;
}
.sign-up .main-header {
  background-color: #4158D0;
}
.sign-up .header-logo,
.sign-up .site-links a {
  color: white;
}
.sign-up .logo-pic .bar {
  background-color: white;
}
.sign-up .form-field {
  color: #4158D0;
  border-color: white;
}
.sign-up .form-field:hover {
  border-width: 2px;
  padding: 6px;
}
.sign-up .form-field:focus {
  background-color: white;
}
.sign-up .form-field.visited {
  background-color: white;
}
.sign-up .submit-btn {
  margin-top: 10px;
}
.login-form input {
  transition: 0.2s linear all;
}
.login-form input:hover {
  background-color: #f9fafe;
  border-color: #4158D0;
}
.login-form input:focus {
  background-color: white;
  border-color: #4158D0;
}
