@border_grey: #e6ecf0;
@grey: #96a2aa;

@lightgrey: #eef0f4;
//@lightgrey: #e6e6e6;
@lightblue: #e6eaffe0;
        //#f8f9ff;

@grid_colour_default: #eef0f4;

.day-mode{
  //--accent: white;
  --contrast: black;
  --background: white;
  --background-lighter: white;
  --background-darker: #f1f6f9de;
          //rgba(0, 0, 0, 0.1);

  --muted: #a1acb3;
  --border-grey: #e6ecf0;
  //--foreground: @primary;
}

.night-mode{
  --contrast: white;
  --background: #242f3e;
  --background-lighter: #253241; // TODO lighten
  --background-darker: rgba(0, 0, 0, 0.14);

  --border-grey: #465768;
  --muted: #465768;
  //--foreground: @dark-bg;
}