@header_height: 62px;

@grey: lightgrey;
@lightgrey: #e6e6e6;
@lightblue: #e6eaffe0;
        //#f8f9ff;

// default theme
@primary: #4158D0;

// dark theme
@dark-bg: #1d105b;
@dark-primary: #51ffac;

@background: white;
@accent: @primary;

//-----


.theme-classic{
  --accent: @primary;
  --background: white;
  --foreground: @lightblue;
}

.theme-bright{
  --accent: white;
  --background: white;
  --foreground: @primary;
  //@accent: 'white';
}

.theme-dark{
  --accent: @primary;
  --background: darken(@dark-bg, 10%);
  --foreground: @dark-bg;
}


