.day-mode {
  --contrast: black;
  --background: white;
  --background-lighter: white;
  --background-darker: #f1f6f9de;
  --muted: #a1acb3;
  --border-grey: #e6ecf0;
}
.night-mode {
  --contrast: white;
  --background: #242f3e;
  --background-lighter: #253241;
  --background-darker: rgba(0, 0, 0, 0.14);
  --border-grey: #465768;
  --muted: #465768;
}
