@import "../variables.less";

@padding-top: 15;
@col-left-padding-right: 20px;
//@box-shadow:
@accent: 'white';

.theme-bright {
  //@accent: white;

  .box-shadow() {
    box-shadow+: -2px 2px 2px 1px rgba(0, 0, 0, 0.15);
  }

  .col-left {
    color: white;

    background-color: @primary;
    //background-image: linear-gradient(155deg, #455cd1 0%, #8B45D1 100%);

    .btn {
      border-color: white;
    }
  }

  .form-field.visited,
  select.form-field{
    background-color: var(--accent);
    border-color: white;

    box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.15);
  }

  .form-field.visited:hover {
    border-color: white
  }

  .btn-collapse {
    .box-shadow();
  }

  //----

  .form-section.collapsible:not(.collapsed) {
    z-index: 10;

    .collapsible-header {
      background-color: @primary
    }
  }

  .form-section-content {
    position: relative;
    //padding:

    background-color: darken(@primary, 10%);

    z-index: 10;
  }

  .form-section.collapsible {
    overflow-x: visible;
  }

  .form-section.collapsible:not(.collapsed) .form-section-content::before {
    content: " ";

    position: absolute;
    right: 0;
    top: 0;

    width: 1000px;
    height: 100%;

    background-color: inherit;

    z-index: -1;
  }
}